.bar {
    fill: steelblue;
}

.bar:hover {
    fill: orange;
}

#bar-plot {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bar-control {
    height: 0;
    background-color: #ffffff11;
}

.bar-container {
    flex: 1;
    background-color: #ffffff;
    position: relative;

    height: 100%;
    position: relative;
    overflow-y: hidden;
}




.bar-container .bar:hover {
    fill: #f3bc00;
}


.bar_tooltip {
    position: absolute;
    background-color: #000000a9;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 8px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}

.bar_tooltip.active {
    display: inline-block;
    /* transform: translate(-100%, -100%); */
}

.bar_tooltip ul {
    margin: 0;
    padding: .5rem;
    padding-left: 1.7rem;
    list-style: disc;
}


.bar_tooltip>.bar-name {
    margin: 0;
    padding: .3rem;
    border-bottom: 3px solid #f3bc00;
}