* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {}

body {
    height: 100dvh;
    overflow: hidden;
    padding: 2rem;
    background-color: #2e2e2e;
    background-color: hsl(216, 5%, 21%);

}

#myTab {
    border-bottom-width: 3px;
    display: flex;
}

#myTab>* {
    flex: 1 0 0;

}

#myTab .nav-link {
    background-color: var(--bs-dark);
    border-width: 3px 3px 0 3px;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
    color: #eeeeee;
    width: 100%;
}

#myTab .nav-link.active {
    color: #f3bc00;
}

.mycontainer {
    display: grid;
    height: 100%;
    grid-template-areas:
        "states main brand-filter"
        "states main color-filter";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
}

.mycontainer>div {
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 8px;
    box-shadow: 0 0 5px #f1eeee;
    /* overflow: hidden; */
    background-color: #84848420;


}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.main-container {
    /* flex: 1; */
    height: 100%;

}

.tab-pane {
    height: 100%
}

.left {
    grid-area: states;
    display: flex;
    flex-direction: column;
    position: relative;
}

.map-container {
    /* flex: 5; */
    height: 100%;
    position: relative;
}

.map-container svg {}

.map-control {
    /* flex: 1; */
    /* overflow: hidden; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* position: relative; */
    padding: 0rem 0 1rem 0rem;
    background-color: var(--bs-dark);

}



.colorbar {
    /* width: 100%; */
    /* height: 100%; */
}

.right-top {
    grid-area: brand-filter;

}

.right-bottom {
    grid-area: color-filter;
    position: relative;
}

/* .brush .extent {
    fill-opacity: 1;
    stroke: black;
    shape-rendering: crispEdges;
} */
.selection {
    fill-opacity: 0.3;
    stroke: black;
    z-index: 99;
}

/* path.active {
    stroke: #000;
    filter: drop-shadow(0 0 3px #333);
} */

.state {
    stroke-width: 1px;
    stroke: #000;
    /* fill: antiquewhite; */

    transition: transform 0.5s;
}

.state:not(.invalid):hover {
    stroke-width: 3px;
    stroke: #fff;
    opacity: 0.8;

}

.state.active:not(.invalid) {
    /* filter: drop-shadow(0 0 3px #333); */
    /* stroke-width: 3px; */
    /* stroke: #fff; */
    opacity: 1;
}

.state.invalid {
    /* fill: #d2b393;
    stroke: #fff; */
    fill: #d6d3d387;
}

label {
    color: #f7f7f7;
}

.state.invalid:hover {
    cursor: not-allowed;
}

.colorbar_container {
    display: flex;
    flex-direction: column;
}






.select {
    /* position: absolute; */
    /* display: inline-block; */
    text-align: center;
    align-self: start;
    display: grid;
    place-content: center;
}

.selected {}


.selected-container {
    display: grid;

}

.selected-container>* {
    grid-area: 1 / 1;
    background-color: #f7f7f7;
    color: #333333;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    /* position: relative; */
}

.hidden {
    visibility: hidden;
}

/* Style the dropdown items */
.options {
    position: absolute;
    background-color: #ff6026;
    display: none;
    width: 100%;
    transform: translateY(20%);
}

.option {

    grid-area: 1 / 1;
    /* position: absolute; */
    /* display: none; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* z-index: 1; */
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}



/* Style the dropdown items on hover */
.option:hover {
    background-color: #f3bc00;
}

.line.deactive {
    stroke: #dddddddd;
}


/**/
#parallel_coordinate {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pc-control {
    flex: 1;
    background-color: var(--bs-dark);
}

.pc-control {
    padding: 20px;
}

.pc-container {
    flex: 9;
    background-color: #ffffff;


}


#parallel_sets {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ps-control {
    flex: 1;
    background-color: #ffffff11;
    padding: 20px;
}

.ps-container {
    flex: 9;
    background-color: #ffffff;
    position: relative;
}

.link.deactive {
    stroke: #dfd9d979;
}

.map_tooltip {
    position: absolute;
    background-color: #000000a9;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 8px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}

.map_tooltip.active {
    display: block;
}

.map_tooltip ul {
    margin: 0;
    padding: .5rem;
    padding-left: 1.7rem;
    list-style: disc;
}


.map_tooltip>.state-name {
    margin: 0;
    padding: .3rem;
    border-bottom: 3px solid #f3bc00;

}


li.size::marker {
    color: #178ac3;
}

li.mean::marker {
    color: #0f9449;
}

li.sum::marker {
    color: #d32929;
}

.highlight {
    font-weight: bold;
}

.ps_tooltip {
    position: absolute;
    background-color: #000000ae;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 8px;
    color: #fff;
    left: 0;
    right: 0;
}

.ps_tooltip.active {
    display: block;
}

.ps_tooltip {
    margin: 0;
    padding: .5rem;
}

.ps_tooltip .arrow {
    color: #ffca1b;
    font-weight: bold;
}

.ps_tooltip .total {
    font-weight: bolder;
    font-size: 17px;


}