* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --RADIUS: 8px;
}

body {
    height: 100dvh;
    overflow: hidden;
    padding: 2rem;
    background-color: #2e2e2e;
    background-color: hsl(216, 5%, 21%);
    width: 100vw;
}

#myTab {
    border-bottom-width: 3px;
    display: flex;
}

#myTab>* {
    flex: 1 0 0;

}

#myTab .nav-link {
    background-color: var(--bs-dark);
    border-width: 3px 3px 0 3px;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
    color: #eeeeee;
    width: 100%;
}

#myTab .nav-link.active {
    color: #f3bc00;
}

.mycontainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas:
        "states main brand-filter"
        "states main color-filter";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    position: relative;
}

.mycontainer>div {
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: var(--RADIUS);
    box-shadow: 0 0 5px #f1eeee;
    /* overflow: hidden; */
    background-color: #84848420;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    overflow-y: hidden;
    overflow-x: auto;


}

.main-container {
    /* flex: 1; */
    height: 100%;


}

.tab-pane {
    height: 100%;
}

.left {
    grid-area: states;
    display: flex;
    flex-direction: column;
    position: relative;
}

.map-container {
    /* flex: 5; */
    height: 100%;
    position: relative;

}

.map-container svg {}

.map-control {
    /* flex: 1; */
    /* overflow: hidden; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* position: relative; */
    padding: 0rem 0 1rem 0rem;
    background-color: var(--bs-dark);
    border-radius: var(--RADIUS);
}

.navbar,
.nav {
    border-radius: var(--RADIUS) var(--RADIUS) 0 0;
}

.colorbar {
    /* width: 100%; */
    /* height: 100%; */
}

.right-top {
    grid-area: brand-filter;

}

.right-bottom {
    grid-area: color-filter;
    position: relative;
}

/* .brush .extent {
    fill-opacity: 1;
    stroke: black;
    shape-rendering: crispEdges;
} */
.selection {
    fill-opacity: 0.3;
    stroke: black;
    z-index: 99;
}

/* path.active {
    stroke: #000;
    filter: drop-shadow(0 0 3px #333);
} */

.state {
    stroke-width: 1px;
    stroke: #000;
    opacity: 0.2;
    transition: transform 0.5s;
}

.state:not(.invalid):hover {
    stroke-width: 3px;
    stroke: #fff;
    opacity: 0.8;

}

.state.active:not(.invalid) {
    /* filter: drop-shadow(0 0 3px #333); */
    /* stroke-width: 3px; */
    /* stroke: #fff; */
    opacity: 1;
}

.state.invalid {
    /* fill: #d2b393;
    stroke: #fff; */
    fill: #d6d3d387;
}

label {
    color: #f7f7f7;
}

.state.invalid:hover {
    cursor: not-allowed;
}

.colorbar_container {
    display: flex;
    flex-direction: column;
}






.select {
    /* position: absolute; */
    /* display: inline-block; */
    text-align: center;
    align-self: start;
    display: grid;
    place-content: center;
}

.selected {}


.selected-container {
    display: grid;

}

.selected-container>* {
    grid-area: 1 / 1;
    background-color: #f7f7f7;
    color: #333333;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    /* position: relative; */
}

.hidden {
    visibility: hidden;
}

/* Style the dropdown items */
.options {
    position: absolute;
    background-color: #ff6026;
    display: none;
    width: 100%;
    transform: translateY(20%);
}

.option {

    grid-area: 1 / 1;
    /* position: absolute; */
    /* display: none; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* z-index: 1; */
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}



/* Style the dropdown items on hover */
.option:hover {
    background-color: #f3bc00;
}



/**/
#parallel_coordinate {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.pc-control {
    flex: 2;
    background-color: var(--bs-dark);
    padding: 20px 20px 1rem 20px;
    display: flex;
    flex-direction: column;
    /* gap: .4rem; */
    justify-content: space-between;
}


.pc-container {
    flex: 11;
    background-color: #ffffff;
}



#parallel_sets {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ps-control {
    flex: 1;
    background-color: #ffffff11;
}

.ps-container {
    flex: 9;
    background-color: #ffffff;
    /* position: relative; */
}

.link.deactive,
.link.deselected {
    stroke: #dfd9d961;
}

.map_tooltip {
    position: absolute;
    background-color: #000000a9;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 8px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}

.map_tooltip.active {
    display: block;
}

.map_tooltip ul {
    margin: 0;
    padding: .5rem;
    padding-left: 1.7rem;
    list-style: disc;
}


.map_tooltip>.state-name {
    margin: 0;
    padding: .3rem;
    border-bottom: 3px solid #f3bc00;
}


li.size::marker {
    color: #178ac3;
}

li.mean::marker {
    color: #0f9449;
}

li.sum::marker {
    color: #d32929;
}

li.median::marker {
    color: #d03ea2;
}

.highlight {
    font-weight: bold;
}

.ps_tooltip {
    position: absolute;
    background-color: #000000ae;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    border-radius: 8px;
    color: #fff;
    left: 0;
    top: 0;
}

.ps_tooltip.active {
    display: block;
}

.ps_tooltip {
    margin: 0;
    padding: .5rem;
}

.ps_tooltip .arrow {
    color: #ffca1b;
    font-weight: bold;
}

.ps_tooltip .total {
    font-weight: bolder;
    font-size: 17px;
}

.link {
    /* transition: stroke .5s; */
}

.switch {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* flex: 0; */
    padding-left: 0;
}

.btn-group>* {
    vertical-align: middle;
}

.color-legend {
    display: none;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, fit-content));
    /* grid-template-rows: 1fr, 1fr; */
    gap: 1rem;
    overflow-y: hidden;
    /* overflow-y: auto; */



    flex: 1;
    place-items: center;
}

/* .color-legend {
    display: none;
    grid-auto-flow: column;
    grid-auto-columns: fit-content;
    width: 100%;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
} */
.box {
    color: #fff;
    display: flex;
    gap: .3rem;
    align-items: center;
    padding-bottom: .5rem;
}

.box.deactive .rect {
    border: none;
    background-color: rgba(160, 160, 160, 0.851) !important;
}

.rect {
    aspect-ratio: 1/1;
    height: 1rem;
    border-radius: 50%;
    border: 2.5px solid #ffffff;
}


::-webkit-scrollbar {
    height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #14b05000;
}

/* Handle */
.color-legend::-webkit-scrollbar-thumb {
    background: #ffffff89;
    border-radius: 1rem;
}

/* Handle on hover */
.color-legend::-webkit-scrollbar-thumb:hover {
    background: #ffffffb3;
}




.brand_tooltip {
    position: absolute;
    background-color: #000000a9;
    font-size: 16px;
    display: none;
    box-shadow: 0 0 3px #333;
    width: max-content;
    padding: .3rem .5rem;
    border-radius: 8px;
    color: #fff;
    left: 0;
    right: 0;
    z-index: 99;
}

.brand_tooltip.active {
    display: block;
}

.brand_tooltip ul {
    margin: 0;
    padding: .5rem;
    padding-left: 1.7rem;
    list-style: disc;
}


.brand_tooltip>.brand-name {
    margin: 0;
    padding: .3rem;
    border-bottom: 3px solid #f3bc00;
}

.right-bottom {
    display: flex;
    flex-direction: column;
}

.brand-container {
    height: 100%;
    position: relative;
}


.brand-control {
    align-items: center;
    background-color: var(--bs-dark);
    border-radius: var(--RADIUS);
}