* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {}

body {
    height: 100dvh;
    overflow: hidden;
    padding: 2rem;
    /* background-color: #2e2e2e;
    background-color: hsl(210 7% 11%); */

}

.mycontainer {
    display: grid;
    height: 100%;
    grid-template-areas:
        "states main brand-filter"
        "states main color-filter";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
}

.mycontainer>div {
    border: 5px solid teal;
    border-radius: 8px;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.main-container {
    /* flex: 1; */
    height: 100%;
}

.tab-pane {
    height: 100%
}

.left {
    grid-area: states;
    display: flex;
    flex-direction: column;
}

.map-container {
    /* flex: 5; */
    height: 100%;
    background-color: #ffffff11;

}


#color-filter label {
    margin-bottom: 5px;
}

body .right-top {
    background-color: #34495E;
}

.color-select-label {
    font-size: 2.2em;
    color: #e6e6e6;
}

.container-for-color:hover {
    background-color: #16A085;
    color: #fff;

}

.container-for-color.selected {
    background-color: #2980B9;
    color: #fff;

}

#scatterplot-container {
    background-color: #2980B9;
}

.color-select {
    transform: scale(2.0);
    /* Increase checkbox size */
    margin-left: 10px;
    margin-right: 10px;
    /* Add some space between checkbox and label */
    font-size: 3.2em;
}

#all-colors {
    transform: scale(2.0);
    /* Increase checkbox size */
    margin-left: 10px;
    margin-right: 10px;
    /* Add some space between checkbox and label */
}

.map-control {
    /* flex: 1; */
    /* overflow: hidden; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* position: relative; */
    padding: 20px;

}



.colorbar {
    /* width: 100%; */
    /* height: 100%; */
}

.right-top {
    grid-area: brand-filter;

}

.right-bottom {
    grid-area: color-filter;
}

/* .brush .extent {
    fill-opacity: 1;
    stroke: black;
    shape-rendering: crispEdges;
} */
.selection {
    fill-opacity: 0.3;
    stroke: black;
    z-index: 99;
}

/* path.active {
    stroke: #000;
    filter: drop-shadow(0 0 3px #333);
} */

.state {
    stroke-width: 1px;
    stroke: #000;
    /* fill: antiquewhite; */
}

.state:not(.invalid):hover {
    stroke-width: 3px;
    stroke: #fff;
}

.state.active:not(.invalid) {
    filter: drop-shadow(0 0 3px #333);
    stroke-width: 3px;
    stroke: #fff;
}

.state.invalid {
    /* fill: #d2b393;
    stroke: #fff; */
}

.state.invalid:hover {
    cursor: not-allowed;
}

.colorbar_container {
    display: flex;
    flex-direction: column;
}






.select {
    /* position: absolute; */
    /* display: inline-block; */
    text-align: center;
    align-self: start;
    display: grid;
    place-content: center;
}

.selected {}


.selected-container {
    display: grid;

}

.selected-container>* {
    grid-area: 1 / 1;
    background-color: #f7f7f7;
    color: #333333;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    /* position: relative; */
}

.hidden {
    visibility: hidden;
}

/* Style the dropdown items */
.options {
    position: absolute;
    background-color: #ff6026;
    display: none;
    width: 100%;
    transform: translateY(20%);
}

.option {

    grid-area: 1 / 1;
    /* position: absolute; */
    /* display: none; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    /* z-index: 1; */
    width: 100%;
    padding: 4px 8px;
    cursor: pointer;
}



/* Style the dropdown items on hover */
.option:hover {
    background-color: #f3bc00;
}

.line.deactive {
    stroke: #dddddddd;
}


/**/
#parallel_coordinate {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pc-control {
    flex: 1;
    background-color: #afafaf;
}

.pc-control {
    padding: 20px;
}

.pc-container {
    flex: 9;

}


#parallel_sets {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ps-control {
    flex: 1;
    background-color: #ffffff11;
    padding: 20px;
}

.ps-container {
    flex: 9;
    background-color: #fff;

}